{{!-- Preloader --}}
<div class="progress">
  <div class="indeterminate"></div>
</div>


{{!-- Divider with date --}}
<div class="divider"></div>
  <div class="section">
    {{!-- dynamically insert the date/event that was searched for --}}
    {{#each event}}
    <h5>{{createdAt}}</h5>
    <p>{{title}}</p>
    {{/each}}
  </div>
  {{!-- Insert button to save as csv --}}

  <div class="row">
    <table class="responsive-table striped column">
      <thead>
        <tr>
          <th>Name of Attendee</th>
          <th>Email</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody>
        {{#each person}}
        <tr>
          <td>{{first_name}} {{last_name}}</td>
          <td>{{email}}</td>
          <td>{{cell}}</td>
        </tr>
        {{/each}}
      </tbody>
  </div>