
{{!-- Person Info --}}
<div class="container">
{{!-- adds a full width card with person's info --}}
  <div data-id:{{person.id}} class="col s12 m7">
    <h2 class="header">{{person.first_name}} {{person.last_name}}</h2>
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <ul>
          <p>Cell number:{{person.cell}}</p>
          <p>Email: {{person.email}}</p>
          <p>Role: {{person.role}}</p>
          </ul>
          {{!-- Delete Button --}}
          <a id="deletePerson" class="row right btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></a>
        </div>
      </div>
    </div>
  </div>

{{!-- Table of Events that Person has Attended (repeats as neccessary) --}}
  <div class="row">
    <table class="responsive-table striped column">
      <thead>
        <tr>
          <th>Title of Event</th>
          <th>Event location</th>
          <th>Event host</th>
        </tr>
      </thead>
      <tbody>
        {{#each event}}
        <tr>
          <td>{{dataValues.title}}</td>
          <td>{{dataValues.location}}</td>
          <td>{{dataValues.host}}</td>
        </tr>
        {{/each}}
      </tbody>
  </div> 

{{!-- ends container --}}
</div> 